<a href="https://colab.research.google.com/github/sovank/learn-linux/blob/main/01_week_hackerrank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1

Write a bash script that prints the string "HELLO".

Input Format

There is no input file required for this problem.

Output Format

HELLO

Sample Input

-

Sample Output

HELLO

Explanation

In [ ]:
#!/bin/bash

echo "HELLO"



---

# 2

Your task is to use for loops to display only odd natural numbers from  to .

Input Format

There is no input.

Constraints

-

Output Format

1
3
5
.
.
.
.
.
99  
Sample Input

-

Sample Output

1
3
5
.
.
.
.
.
99  
Explanation

-

In [ ]:
for num in {1..99}; do
    if [ $((num % 2)) -ne 0 ]; then
        echo "$num"
    fi
done



---

# 3

Write a Bash script which accepts  as input and displays the greeting "Welcome (name)"

Input Format

There is one line of text, .

Output Format

One line: "Welcome (name)" (quotation marks excluded).
The evaluation will be case-sensitive.

Sample Input 0

Dan  
Sample Output 0

Welcome Dan  
Sample Input 1

Prashant
Sample Output 1

Welcome Prashant

In [ ]:
#!/bin/bash

read name
echo "Welcome $name"



---

# 4

Use a for loop to display the natural numbers from  to .

Input Format

There is no input

Output Format

1
2
3
4
5
.
.
.
.
.
50

In [ ]:
#!/bin/bash

for num in {1..50}; do
    echo "$num"
done



---

# 5

Given two integers,  and , find their sum, difference, product, and quotient.

Input Format

Two lines containing one integer each ( and , respectively).

Constraints



Output Format

Four lines containing the sum (), difference (), product (), and quotient (), respectively.
(While computing the quotient, print only the integer part.)

Sample Input

5
2
Sample Output

7
3
10
2
Explanation

5 + 2 = 7
5 - 2 = 3
5 * 2 = 10
5 / 2 = 2 (Integer part)

In [ ]:
#!/bin/bash

# reading the file is important
read X
read Y

echo "$((X + Y))"
echo "$((X - Y))"
echo "$((X * Y))"
if [ $((Y)) -ne 0 ]; then
    echo "$((X / Y))"
else
    echo 0
fi